<!DOCTYPE html>
<html>
    <head>
        <meta name="HandheldFriendly" content="true" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />            
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius. 
        </div>

        <form class="container">

        - var values = questions;
            each val in values
                <div class="question">            
                div.question-type#id=val.text
                div(class="form-group" id=val._id)
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                </div>
                </div>

                
            <div class="question">
                <div class="question-type">Review product Review productReview productReview productReview productReview productReview productReview product</div>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                </div>
            </div>
            <div class="question">
                <div class="question-type">Overall Rating</div>
                <div class="starReview">
                    <span class="fa fa-star " id="1-star"></span>
                    <span class="fa fa-star " id="2-star"></span>
                    <span class="fa fa-star " id="3-star"></span>
                    <span class="fa fa-star " id="4-star"></span>
                    <span class="fa fa-star " id="5-star"></span>                    
                </div>
            </div>
            <div class="question">
                <div class="question-type">Select one</div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                        first default radio
                    <br> 
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        Second second default radio
                    <br>
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                        Third third
                    <br>
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
                        None none OF The Above
                </div>
            </div> 
            <div class="question">
                <div class="question-type">Any Suggestions...</div>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                </div>
            </div>
            
            
            <button type="button" class="submit-btn btn btn-outline-success">Submit</button>
            
        </form>
    </body>
    <script type="text/javascript" src="/script/form.js"></script>
</html>